.contact__links{
    margin: 200px auto 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.contact__links-link{
    font-size: 40px;
    padding: 20px;
    color: $color1;
    background-color: $color2;
    border-radius: 15px;
    border: 2px solid transparent;
}

.contact__links-link:hover{
    background-color: transparent;
    color: $color4;
    border-color: $color5;
}

@media screen and(max-width:600px) {
    .contact__links{
        margin-top:100px;
        gap: 50px;
    }

    .contact__links-link{
        font-size: 30px;
        padding: 15px;
    }
}