.testimonials{
    width: 30%;
    margin: 100px auto 100px;
}

.testimonials__header{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    gap: 10px;
}

.testimonials__quotes{
    display: flex;
    overflow: hidden;
}

.testimonials__header-icon{
    color: $color5;
    background: $color6;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
}

.testimonials__header-title{
    font-family: poppinsBold;
    color: $color1;
    font-size: 30px;
}

.testimonials__testimonial{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    border-radius: 0 30px 0 30px;
    border: 2px solid transparent;
    background: $color6;
    transition: 0.5s ease;
}

.testimonials__testimonial:hover{
    border-color: $color4;
    background: transparent;
}

.testimonials__testimonial-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonials__testimonial-text{
    color: $color4;
    font-family: poppinsRegular;
    padding: 0 20px;
    font-style: italic;
}

.testimonials__testimonial-name{
    color: $color1;
    font-size: 20px;
    font-family: poppinsBold;
}

.testimonials__testimonial-job{
    color: $color1;
    font-size: 15px;
    font-family: poppinsBold;
}

.testimonials__buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}

.testimonials__buttons-left, .testimonials__buttons-right{
    font-size: 50px;
    padding: 10px;
    color: $color2;
    cursor: pointer;
    background: transparent;
    border: none;
}

@media screen and(min-width:800px) and (max-width: 1200px){
    .testimonials{
        width: 60%;
    }
}

@media screen and (max-width: 799px){
    .testimonials{
        width: 80%;
    }
}