$color1: #ffffff;
$color2: #42b0f5;
$color3: #144767;
$color4: #c7bfbf;
$color5: #a17a28;
$color6: #161d5c;

@font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}